
.container-table-base {
  width: 100%;
  display: grid; 
  overflow: auto;
}

.table-base {
  justify-self: center;
  border: none;
  text-align: center;
  overflow-x: auto;
}

.table-base,
.table-base th,
.table-base td {
  border: .1rem solid #a3a3a3;
  border-collapse: collapse;
}


.table-base th,
.table-base td {
  padding: .5rem .8rem;
}

.table-base th {
  background-color: rgb(14, 74, 58);
}


.table-base tr:hover {
  background-color: rgba(163, 163, 163, .3);
}

.table-base tr td {
  display: flex;
  align-items: center;
  justify-content: center;
}